.operation-page{
    display: flex;
 
    .operation-grid{
        width: 50%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(6, 1fr);
        padding: 2rem;
        margin: 15px auto 0 auto;
        box-shadow: 2px 4px 7px rgb(10, 12, 14); 
        background-color: rgba(50, 62, 71, 0.9);
        position: relative;
    }

    .recipe-name{
        grid-column: 1/6;
        grid-row: 1/2;
        width:100%;
        padding-top: 10px;
        margin-left: auto;
        z-index: 1;
        
        input{
            width: 100%;
            padding: 10px;
            background: rgb(190, 190, 190);
        }

        input:focus{
            background: #fff;
        }
    }
    .recipe-card-holder{
        grid-column: 1/6;
        grid-row: 2/5;
        padding-top: 10px;
        width:100%;
        margin-top: 20px;
        margin-right: auto;
        z-index: 1;

        display: flex;
        flex-wrap: wrap;
        overflow: scroll;
        justify-content: space-evenly;
        align-items: flex-start;

        .recipe-card{
            width: 200px;
            height: 300px;
            padding: 5px;
            border-radius: 5px;
            background-color: #fff;
            margin: 5px 0;
            @include breakpoint(mama-bear){
                width: 150px;
                height: 225px;
                padding: 10px;
            }
            @include breakpoint(teeny){
                width: 200px;
                height: 300px;
            }
        }
    }
    .number-serving{
        grid-column: 1/3;
        grid-row: 5/6;
        padding-top: 10px;
        width:100%;
        margin-right: auto;
        margin-top: 20px;
        z-index: 1;
        .select select {
            width: 50%;
            padding: 10px;
            background: rgb(190, 190, 190);

            color: #212121;
            appearance: none;
        }
        .select select:focus{
            background: #fff;
        }
    }
    .serving-size{
        grid-column: 3/6;
        grid-row: 5/6;
        padding-top: 10px;
        width:100%;
        margin-right: auto;
        margin-top: 20px;
        z-index: 1;

        input{
            width: 100%;
            padding: 10px;
            background: rgb(190, 190, 190);
        }
        input:focus{
            background: #fff;
        }
    }

    h3{
        color: #fff;
        margin-bottom: 10px;
    }

    .result-btn{
        color: #fff;
        font-size: 22px;
        letter-spacing: 1px;
        grid-row: 6/7;
        grid-column: 1/6;
        width: 100px;
        height: 60px;
        margin-top: 30px;
        background-color: #191f24;
        border-style: none;
        @include breakpoint(mama-bear){
            font-size: 16px;
            letter-spacing: 0.1px;
            text-align: center;
        }
        @include breakpoint(baby-bear){
            font-size: 10px;
        }
        @include breakpoint(teeny){
            font-size: 6px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .result-btn:hover{
        background-color: #225986;
        transition: 0.5s;
    }

    .result-btn:active{
        background-color: #008cff;
    }

  
}