$primary-color:  #77c46a;
$secondary-color: #408d45;

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background: $primary-color;
}


// scrollbar color change to green
::-webkit-scrollbar{
    width: 15px;

    
}

::-webkit-scrollbar-thumb{
    background:rgb(116, 116, 116);
    border-radius:20px;

    &:hover{
        background:rgb(182, 182, 182);
    }
}