.operation-page{
  display: flex;
  margin: 150px auto;

  @include breakpoint(big-tablet){
    margin: 0;
  }
  @include breakpoint(mid-tablet){
    margin: 0;
  }
  @include breakpoint(new-mobile){
    margin: 0;

  }
  @include breakpoint(old-mobile){
    margin: 0;
  }

  .operation-box{
      width: 60%;
      height: 100%;
      padding: 2rem;
      margin: 15px auto 0 auto;
      box-shadow: 2px 4px 7px rgb(10, 12, 14); 
      background-color: $secondary-color;
      position: relative;

      @include breakpoint(big-tablet){
        margin: auto;
        width: 80%;
      }
      @include breakpoint(mid-tablet){
          margin: auto;
          width: 100%;
      }
      @include breakpoint(new-mobile){
          margin: auto;
          width: 100%;

      }
      @include breakpoint(old-mobile){
          margin: auto;
          width: 100%;
      }
      
  }

  .mainform-text{
    display: flex;

    
    @include breakpoint(mid-tablet){
        flex-direction: column;
    }
    @include breakpoint(new-mobile){
      flex-direction: column;
    }
    @include breakpoint(old-mobile){
      flex-direction: column;
    }


    .form-title{
      color: $main-text;
      width: 50%;
      margin-right: auto;

      @include breakpoint(mid-tablet){
        margin: auto;
      }
      @include breakpoint(new-mobile){
        margin: auto;
      }
      @include breakpoint(old-mobile){
        margin: auto;
      }
     

    h1{
      font-family: 'Martel', serif;
      text-align: end;
      font-size: 50px;

      @include breakpoint(mid-tablet){
        text-align: center;
        font-size: 40px;
      }
      @include breakpoint(new-mobile){
        text-align: center;
        font-size: 30px;
      }
      @include breakpoint(old-mobile){
        text-align: center;
        font-size: 30px;
      }
    }

    .m {
      margin: 30px 150px -20px auto;

      @include breakpoint(mid-tablet){
        margin: auto;
      }
      @include breakpoint(new-mobile){
        margin: auto;
      }
      @include breakpoint(old-mobile){
        margin: auto;
      }
    }

    .q{
      margin-right: 130px;
      padding-bottom: 20px;

      @include breakpoint(mid-tablet){
        margin: auto;
      }
      @include breakpoint(new-mobile){
        margin: auto;
      }
      @include breakpoint(old-mobile){
        margin: auto;
      }

      span{
        color:  #ff9900;
      }
    }
  
  }
    .how-to-use{
      color: $main-text;
      width: 50%;
      margin-left: auto;
      margin-top: 20px;

      @include breakpoint(mid-tablet){
        margin: auto auto auto 10px;
        width: 100%;
        padding: 10px;
      }
      @include breakpoint(new-mobile){
        margin: auto auto auto 10px;
        width: 100%;
      }
      @include breakpoint(old-mobile){
        margin: auto auto auto 10px;
        width: 100%;
      }

      .how-to{
        color: $main-text;

        @include breakpoint(mid-tablet){
          font-size: 22px;
        }
        @include breakpoint(new-mobile){
          font-size: 22px;
        }
        @include breakpoint(old-mobile){
          font-size: 22px;
        }
      }

      ol {
            margin: 10px auto 20px 0;
      }

      li{
            padding: 5px;
            word-spacing: 1px;
      }
      
    }
  
  }

  .recipe-name{
      width:100%;
      padding-top: 10px;
      margin-right: auto;

   

      h3{
          margin-top: 20px;
          padding-bottom: 10px;
          color: $main-text;
          text-align: center;
          margin-bottom: 5px;
          font-size: 40px;
          
          @include breakpoint(mid-tablet){
            font-size: 30px;
          }
          @include breakpoint(new-mobile){
            font-size: 22px;
          }
          @include breakpoint(old-mobile){
            font-size: 22px;
          }
      }
      
      .input-box{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        
      input{
        justify-content: center;
        width: 40%;
        padding: 10px;
        background: rgb(190, 190, 190);
        border:none;
        text-transform: uppercase;
        margin-bottom: 20px;

        @include breakpoint(mid-tablet){
          width: 80%;
          padding: 10px;
        }
        @include breakpoint(new-mobile){
          width: 80%;
          padding: 10px;
        }
        @include breakpoint(old-mobile){
          width: 80%;
          padding: 10px;
        }
      }

      input:focus{
          background: #fff;
      }

      .result-btn{
      color: $main-text;
      letter-spacing: 2px;
      width: 20%;
      height: 35px;
      background-color: #f5cb5c;
      border-style: none;

        @include breakpoint(mid-tablet){
          width: 40%;
        }
        @include breakpoint(new-mobile){
          width: 40%;
        }
        @include breakpoint(old-mobile){
          width: 40%;
        }
      }

      .result-btn:hover{
          background-color: #ffd45f;
          transition: 0.5s;
      }
  
      .result-btn:active{
          background-color: #abd1be;
      }
    }
}

.recipe-card-holder {
  padding-top: 10px;
  width: 100%;
  height: auto;
  margin: 5px auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: space-evenly;

.recipe-card {
  width: 200px;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color:$secondary-color;
  margin: 5px 0;
  height: 300px;
  transition: 0.35s;
    @include breakpoint(mid-tablet){
      font-size: 30px;
    }
    @include breakpoint(new-mobile){
      font-size: 30px;
    }
    @include breakpoint(old-mobile){
      font-size: 30px;
    }
  

  
  &:hover{
      background-color:$sub-secondary;
  }
  

  .img-container {
      width: 100%;
      display: flex;
      filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));

      &:hover{
          filter: drop-shadow(-1px 4px 3px rgba(255, 186, 209, 0.925));
      }
  }

    img {
      width: 100%;
      clip-path: circle(50%);
    }
    .text-container{
        margin: 3px;
        height: 51px;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
          color: black;
          text-align: center;
          @include breakpoint(mid-tablet){
            font-size: 16px;
          }
          @include breakpoint(new-mobile){
            font-size: 12px;
          }
          @include breakpoint(old-mobile){
            font-size: 12px;
          }
          }
    }

}
}
}