.modal-container {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

    .modal-btn {
      color: #333;
      cursor: pointer;
      box-shadow: 0 5px 5px -5px rgba(0, 228, 114, 0.925);
      transition:  0.35s;
      
      &:hover{
        box-shadow: 0 5px 5px -5px rgba(228, 0, 76, 0.925);
      }
    }

    


  .modal-content,
  .modal-backdrop {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
  }
  .modal-close {
    color: rgb(138, 138, 138);
    position: absolute;
    right: 5px;
    top: 5px;
    padding-top: 3px;
    background: #fff;
    font-size: 16px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    &:hover {
      color: #333;
    }
  }
  .modal-content-btn {
    position: absolute;
    text-align: center;
    cursor: pointer;
    bottom: 20px;
    right: 30px;
    color: #fff;
    width: 50px;
    border-radius: 2px;
    font-size: 14px;
    height: 32px;
    padding-top: 9px;
    font-weight: normal;
    &:hover {
      color: #fff;
    }
  }
  #modal-toggle {
    display: none;
    &.active ~ .modal-backdrop,
    &:checked ~ .modal-backdrop {
      background-color: rgba(0, 0, 0, 0.6);
      width: 100vw;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 9;
      visibility: visible;
      opacity: 1;
      transition: opacity 0.15s ease-in;
    }
    &.active ~ .modal-content,
    &:checked ~ .modal-content {
      text-align: center;
      opacity: 1;
      background-color: #fff;
      width: 50vw;
      height: 50vh;
      padding: 10px 30px;
      position: fixed;
      left: calc(25%);
      top: 12%;
      border-radius: 4px;
      z-index: 999;
      pointer-events: auto;
      cursor: auto;
      visibility: visible;
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
      @media (max-width: 400px) {
        left: 0;
      }
    }
  }
}
