.modal-container {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-btn {
    color: #333;
    cursor: pointer;
    box-shadow: 0 5px 5px -5px #8d7840;
    transition: 0.35s;
    @include breakpoint(teeny) {
      font-size: 10px;
    }
    &:hover {
      box-shadow: 0 5px 5px -5px rgba(228, 0, 76, 0.925);
    }
  }
  .get-ingredients {
    li {
      text-align: start;
    }
  }
  .modal-content,
  .modal-backdrop {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
  }
  .modal-close {
    color: rgb(138, 138, 138);
    position: absolute;
    right: 5px;
    top: 5px;
    padding-top: 3px;
    background: #fff;
    font-size: 16px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    &:hover {
      color: #333;
    }
  }
  .modal-content-btn {
    position: absolute;
    text-align: center;
    cursor: pointer;
    bottom: 20px;
    right: 30px;
    color: #fff;
    width: 50px;
    border-radius: 2px;
    font-size: 14px;
    height: 32px;
    padding-top: 9px;
    font-weight: normal;
    &:hover {
      color: #fff;
    }
  }
  #modal-toggle {
    display: none;
    &.active ~ .modal-backdrop,
    &:checked ~ .modal-backdrop {
      background-color: rgba(0, 0, 0, 0.6);
      width: 100vw;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 9;
      visibility: visible;
      opacity: 1;
      transition: opacity 0.15s ease-in;
    }
    &.active ~ .modal-content,
    &:checked ~ .modal-content {
      opacity: 1;
      background-color: #fff;
      width: 50vw;
      height: 70vh;
      padding: 10px 30px;
      position: fixed;
      left: calc(25%);
      top: 12%;
      border-radius: 4px;
      z-index: 999;
      pointer-events: auto;
      cursor: auto;
      visibility: visible;
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      @media (max-width: 400px) {
        left: 0;
      }
    }
  }
  .content-title {
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #fd7a0f;
    h2 {
      text-transform: uppercase;
      font-size: 32px;
      color: #f5b400;
    }
  }
  .ingredient-box {
    margin: 10px 30px;
    padding-bottom: 30px;
  }
  .youtube-box {
    text-align: center;
    margin: 20px 0;
    button {
      padding: 10px;
      text-transform: uppercase;
      border: 1px solid transparent;
      background-color: #f58300;
      transition: 0.35s;
      color: #fff;
      &:hover {
        background-color: #ffa844f1;
        color: #000;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
  .frame-box {
    text-align: center;
  }
}
