@use 'mediaQueries';

#sidebar {
    position:fixed;
    top:0px;
    left:-380px;
    width:300px;
    height:100%;
    background: #F5CB5C;
    transition:all 300ms linear;
    z-index: 3;

    @include breakpoint(mid-tablet){
      width:100%;
      left:-100%;
    }
    @include breakpoint(new-mobile){
      width:100%;
      left:-100%;
    }
    @include breakpoint(old-mobile){
      width:100%;
      left:-100%;
    }
  }
  #sidebar.active {
    left:0px;
  }
  #sidebar .toggle-btn {
    position:fixed;
    left:20px;
    top:20px;
  }
  #sidebar .toggle-btn span {
    display:block;
    width:35px;
    height:6px;
    box-shadow: 4px 2px 8px black;
    background:#F2D47D;
    margin:5px 0px;
    cursor: pointer;
  }
.toggle-btn .active {
  background-color: rgb(124, 160, 124);
}

  .list{
      margin-top: 100px;
      @include breakpoint(mid-tablet){
        text-align: center;
      }
      @include breakpoint(new-mobile){
        text-align: center;
      }
      @include breakpoint(old-mobile){
        text-align: center;
      }
  }

  #sidebar div.list div.item {
    padding:25px 10px;
    font-size: 20px;
    @include breakpoint(mid-tablet){
      font-size: 30px;
    }
    @include breakpoint(new-mobile){
      font-size: 30px;
    }
    @include breakpoint(old-mobile){
      font-size: 30px;
    }
  }

  .item:hover{
    background: #EFDC9E;
  }

  .link-menu{
      padding-bottom: 20px;
      text-decoration: none;
      color: $primary-color;
      text-transform:uppercase;
      transition: 0.35s;

      
  }

  .search-history{
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    word-spacing: 2px;
    color: $primary-color;
    


    h3{
      text-align: center;
      margin-top: 140px;
      padding:15px 10px;
      border-bottom: 1px solid gray;
      font-size: 22px;
      text-transform: uppercase;
        @include breakpoint(mid-tablet){
          font-size: 20px;
        }
        @include breakpoint(new-mobile){
          font-size: 16px;
        }
        @include breakpoint(old-mobile){
          font-size: 16px;
        }
  }

    #history-box{
      margin: 20px 5px;
      height: auto;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .recipe-space{
        border: none;
        outline: none;
        font-size: 18px;
        padding: 10px 0;
        background-color: transparent;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;

        &:hover{
          background-color:  #ffe8aa;
        }
      }
    }
      #clear-history {
        padding: 5px 10px;
        font-size: 16px;
        background: #cdf1fc;
        transition: 0.35s;
        border-radius: 4px;
        text-align: center;

        &:hover{
          background: #87e2fd;
        }

        &:active {
          transform: scale(0.9)
        }
      }
    }
    
