@import 'config';

:root {
    --base-color: #DC1E0B;
    --base-color: #FFA820;
    --base-color: #FBFCEB;
    --base-color: #DFE9AC;
    --base-color: #97BE11;
    --base-color: #28590C;
}



.intro {
    position: relative;
    width: 100%;
    height: 80vh;
    background: url(../images/header2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(280vh at 50% -200vh);


    .title {
        max-width: 1000px;
        text-align: center;
    
        h1{
            font-size: 5em;
            color: #ff6720bb;
            font-weight: 700;
            text-shadow: 2px 2px 8px #FBFCEB;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #28590C;
            position: fixed;
        }
    }
}
