@import 'mediaQueries';
@import 'config';
@import 'main-form';
@import 'modal';
@import 'navbar';
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@600;900&display=swap');

.intro {
    width: 100%;
    height: 100vh;
    background: url(../images/header.jpg);
    background-size: cover;
    clip-path: circle(360vh at 50% -260vh);
    background-attachment: fixed;
    background-position: bottom;
    position: relative;
    overflow: visible;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    // Media-Query
        @include breakpoint(big-tablet){
            margin: auto;
            width: 100%;
            height: 65vh;

        }
        @include breakpoint(mid-tablet){
            margin: auto;
            width: 100%;
            height: 40vh;
        }
        @include breakpoint(new-mobile){
            margin: auto;
            width: 100%;
            background: url(../images/header.jpg);
            background-size: cover;
        }
        @include breakpoint(old-mobile){
            margin: auto;
            width: 100%;
            background: url(../images/header.jpg);
            background-size: cover;
        }
    .arrow{
        margin-bottom: -200px;
      
        a{
            color: #F5CB5C;
            font-size: 80px;
            transition: all 0.35s;
            
            &:hover{
                color: #ff6739;
            }

        }  
            // Media-Query
            @include breakpoint(big-tablet){
                display:none;
            }
            @include breakpoint(mid-tablet){
                display:none;
            }
            @include breakpoint(new-mobile){
                display:none;
            }
            @include breakpoint(old-mobile){
                display:none;
            }
    }
    
    .intro-page{
        margin-bottom: 120px;
        // width: 60%;
        // height: 40vh;
        width: 60%;
        height: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        box-shadow: 2px 4px 8px #0c0c0c;
        background-color: rgba(3, 3, 3, 0.7);
              
            // Media-Query
            @include breakpoint(big-tablet){
                margin: auto;
                width: 100%;
                height: 50%;
            }
            @include breakpoint(mid-tablet){
                margin: auto;
                width: 100%;
                height: 70%;
            }
            @include breakpoint(new-mobile){
                margin: auto;
                width: 100%;
                height: 100%;
            }
            @include breakpoint(old-mobile){
                margin: auto;
                width: 100%;
                height: 100%;
            }
     
        .intro-left{
            width: 60%;
            padding: 1rem;
            z-index: 2;

            // Media-Query
    
            @include breakpoint(mid-tablet){
                margin: auto;
                width: 80%;
            }
            @include breakpoint(new-mobile){
                margin: auto;
                width: 60%;
                height: 75%;
                padding: 20px;
            }
            @include breakpoint(old-mobile){
                margin: auto;
                width: 60%;
                height: 100%;
                padding: 20px;
            }

            h1{
                font-size: 62px;
                margin-bottom: 40px;
                text-transform: uppercase;
                color:  $intro-text;

                 // Media-Query
                @include breakpoint(mid-tablet){
                    font-size: 30px;
                    margin-bottom: 20px;
                }
                @include breakpoint(new-mobile){
                    font-size: 20px;
                    margin-bottom: 10px;
                }
                @include breakpoint(old-mobile){
                    font-size: 20px;
                    margin-bottom: 5px;
                }
            }

            p{
                color: $intro-text;
                font-size: 18px;
                line-height: 140%;
                letter-spacing: 1px;

                  // Media-Query
                 @include breakpoint(mid-tablet){
                     font-size: 16px;
                     margin-bottom: 20px;
                 }
                 @include breakpoint(new-mobile){
                     font-size: 12px;
                     margin-bottom: 10px;
                 }
                 @include breakpoint(old-mobile){
                     font-size: 12px;
                     margin-bottom: 10px;
                 }
            }
        }
    }
}

footer {
    width: 100%;
    height: 300px;
    background-color: $footer-color;
    color: $footer-text;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;

    // Media-Query
    @include breakpoint(mid-tablet){
        height: 250px;
    }
    @include breakpoint(new-mobile){
        height: 200px;
    }
    @include breakpoint(old-mobile){
        height: 200px;
    }

    .credit{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a{
            font-size: 50px;
            color: #F5CB5C;
            padding: 1rem;

            @include breakpoint(mid-tablet){
                font-size: 30px;
            }
            @include breakpoint(new-mobile){
                font-size: 15px;
            }
            @include breakpoint(old-mobile){
                font-size: 15px;
            }


            &:hover {
                color: #ff9900;
            }
        }

        p{
            margin-top: 20px;
            font-size: 22px;

            @include breakpoint(mid-tablet){
                font-size: 19px;
            }
            @include breakpoint(new-mobile){
                font-size: 12px;
            }
            @include breakpoint(old-mobile){
                font-size: 12px;
            }
        }

        .date {
            font-size: 18px;

            @include breakpoint(mid-tablet){
                font-size: 14px;
            }
            @include breakpoint(new-mobile){
                font-size: 10px;
            }
            @include breakpoint(old-mobile){
                font-size: 10px;
            }
        }
    }

    .contribution{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 30px;

        @include breakpoint(mid-tablet){
            margin-left: 30px;
            padding: 0;
        }
        @include breakpoint(new-mobile){
            margin-left: 20px;
            padding: 0;
        }
        @include breakpoint(old-mobile){
            margin-left: 10px;
            padding: 0;
        }
        h3{
            font-size: 32px;
            margin-bottom: 20px;
            @include breakpoint(mid-tablet){
                font-size: 28px;
            }
            @include breakpoint(new-mobile){
                font-size: 20px;
                margin-bottom: 10px;
            }
            @include breakpoint(old-mobile){
                font-size: 12px;
                margin-bottom: 5px;
            }
        }

        li{
            
            text-transform: uppercase;
            list-style: none;
            padding: 5px 0;

            @include breakpoint(mid-tablet){
                font-size: 14px;
            }
            @include breakpoint(new-mobile){
                font-size: 10px;
            }
            @include breakpoint(old-mobile){
                font-size: 10px;
            }
        }
    }
    
}
